.App {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #777777;
  color: rgb(255, 248, 248);
  text-align: center;
  place-items: center;
  /* max-width: 800px; */
  max-height: 150vh;
}

input{

  margin: 5px;
  padding: 8px;
  border-radius: 10px;
  background-color: rgb(231, 227, 222);
  width: 300px;

}
select{
  font-size:large;
  margin: 5px;
  padding: 8px;
  border-radius: 10px;
  background-color: rgb(231, 227, 222);
  min-width: max-content;
}
button {
  margin: 5px;
  padding: 8px;
  border-radius: 10px;
  background-color: rgb(104, 238, 220);
  min-width: max-content;
  
}

.configuracoes {
  margin-top: 20px;
  border-top: 1px solid #ccc;
  padding-top: 20px;
}
.container{
  padding: 10px;
  display: flex;
  flex-direction: column ;
  background-color: rgb(150, 187, 223);
  border: #000000;
  border-style: dotted;
  border-radius: 25px;
  align-items:stretch;
  text-align: left;
  
}